<div class="center jumbotron">
  <h1><i class="fa fa-rocket"></i>Gym Members</h1>
   <h2>The easiest way to find Gym members in you area!</h2>
      <%= link_to "Get Started Today", signup_path, class: "btn btn-danger btn-lg btn-xlarge" %>
</div>
